[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "backpipe"]
	path = backpipe
	url = https://github.com/decisionpatterns/backpipe
[submodule "catcont"]
	path = catcont
	url = https://github.com/decisionpatterns/catcont
[submodule "formula.tools"]
	path = formula.tools
	url = https://github.com/decisionpatterns/formula.tools
[submodule "na.tools"]
	path = na.tools
	url = https://github.com/decisionpatterns/na.tools
[submodule "operator.tools"]
	path = operator.tools
	url = https://github.com/decisionpatterns/operator.tools
[submodule "optigrab"]
	path = optigrab
	url = https://github.com/decisionpatterns/optigrab
[submodule "ordering"]
	path = ordering
	url = https://github.com/decisionpatterns/ordering
[submodule "sticky"]
	path = sticky
	url = https://github.com/decisionpatterns/sticky
